@media print {

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    visibility: inherit;
    *word-wrap: break-word !important;
    padding: 0;
    margin: 0;
  }

  html {
    position: relative;
    display: inline-block;
    height: auto;
    text-align: left;
  }

  html.article,
  html.venue,
  html.search,
  html.channel,
  html.package,
  html.index,
  html.homepage {
    visibility: visible;
  }

  a::after {
    *word-wrap: break-word;
    font-size: 90%;
    color: #000;
  }

  img {
    max-width: 500px;
  }

  body {
    position: relative;
    height: auto;
    font: 12pt Helvetica, Arial, Sans-Serif !important;
    line-height: 1.3;
    color: #000;
    page-break-after: avoid;
    margin: 40px;
  }

  h2,
  h3,
  p {
    font-size: 12pt !important;
  }

  h3 {
    font-weight: bold !important;
    margin: 10px 0;
  }

  blockquote,
  ul {
    margin: 0;
  }

  ul {
    list-style: none;
  }

  ul.steps {
    list-style: disc;
  }

  article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @page {
    margin: 1cm;
  }

  .util-print {
    display: block;
    visibility: visible;
    width: 100%;
  }

  .util-print:last-child {
    page-break-after: auto;
  }

  .recipe .main-content .first-column {
    float: left;
    width: 25%;
    padding-right: 10px;
  }

  .recipe .main-content .center-column {
    float: left;
    width: 70%;
    padding: 0;
  }

  .recipe__header {
    text-align: center;
  }

  .recipe__header__hed {
    font-size: 2.5rem;
    max-width: none;
    margin: 10px auto;
    text-align: center;
  }

  .recipe__title {
    max-width: none;
  }

  .recipe .left-content {
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    width: 100%;
  }

  .recipe__title__dek,
  .recipe .main-content .left-content {
    padding: 10px 0;
    margin: 0;
  }

  .recipe__title__hed {
    padding: 0;
    margin: 0;
  }

  .ingredients {
    position: relative;
  }

  .ingredients__header {
    display: block;
  }

  .ingredients__totalservings {
    display: inline;
    font-size: 10pt;
  }

  .ingredient {
    margin-top: 12px;
  }

  .recipe .left-column {
    position: absolute;
    top: 10px;
    width: 100%;
  }

  .left-column .recipe__title .recipe__title__hed {
    max-width: none;
    display: none;
  }

  .recipe__header__link {
    color: #000;
  }

  .recipe .main-content {
    position: absolute;
    top: 105px;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: visible;
  }

  .recipe .center-container {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    padding: 0;
  }

  .recipe .header-container {
    height: 55px;
  }

  .recipe__header__issue__date {
    display: inline-block;
    margin-left: 10px;
  }

  .recipe .site-header {
    height: 20px;
  }

  .recipe .site-header-device .navigation-hamburger-container {
    width: 100%;
  }

  .recipe .logo {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
  }

  .recipe .ratings {
    position: absolute;
    left: 0;
  }

  .recipe__header span {
    display: inline-block;
    width: auto;
  }

  .recipe__header__issue__date::after {
    content: none;
  }

  .recipe__nutrition__header {
    margin-top: 20px;
  }

  .recipe__nutrition__content {
    line-height: 24px;
  }

  .ingredientsGroup {
    width: 100%;
  }

  .ingredients__text::before {
    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    margin-right: 5px;
  }

  .MonthYear::before {
    content: "Published\00a0";
    display: inline-block;
  }

  .dek--basically,
  .ratings__component,
  .Header,
  .embedded-video,
  .embed,
  #reviews,
  .review-section,
  .row--cm-nl,
  .basically-rubric,
  video,
  img,
  button,
  .logo,
  .util-print-hide,
  .recipe__header__ratings,
  .recipe__header__breadcrumb,
  .recipe-control,
  .ad-container,
  .displayAd,
  .keyword__recipe__container,
  .outbrain-content,
  .ba-social-share,
  .component-stickybox-ba,
  .component-outbrain,
  .recipe__nutrition__more,
  .recipe__header__cooking-times,
  .header-ad-area,
  .recipe__header__servings,
  .recipe-grid,
  .recipe__links,
  .side-nav,
  .site-footer,
  .toutimagenarrow,
  input[type="checkbox"],
  .secondary-content {
    display: none !important;
  }

  input[type="checkbox"]::before {
    width: 10px;
    height: 10px;
    border: 1px solid black;
  }

  #adUnitContainerAdCNMGLGEpicuriousBonAppetit {
    display: none !important;
  }

  /* Ad removal */
  body > div[id^="adUnitContainer"],
  [class*="cns--"] {
    display: none !important;
  }

  .recipe .ba-logo-svg {
    display: block !important;
    visibility: visible;
    width: 200px !important;
    height: auto;
    margin: 0 auto !important;
  }
}
